/*Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-weight: bolder;
    color: rgb(0, 0, 0);
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;

}

body {
    background-color: #1e1e1e;
}



h1 {
    text-align: center;
    background-color: rgb(137, 235, 137);
    margin: 1rem;
    display: flex;
    justify-content: center;
    border-radius: 1rem;
}

header img {
    width: 100px;
}

header {
    background-color: #1e1e1e;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

}

header nav ul li a {
    color: white;
    text-decoration: none;
}

header nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.contenedor-imagenes {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 200px);
    gap: 1rem;
    padding: 1rem 1rem 1rem 1rem;
    background-color: #1e1e1e;

}

.contenedor-imagenes img {
    width: 100%;
    height: 100%;
    border: 5px solid transparent;
    object-fit: cover;
    border-radius: 1rem;
}

.contenedor-imagenes {
    grid-template-areas:
        "img1"
        "img1"
        "img2"
        "img2"
        "img3"
        "img3";
}

.img1 {
    grid-area: img1;
}

.img2 {
    grid-area: img2;
}

.img3 {
    grid-area: img3;
}

#texto {
    color: white;
    background-color: #1e1e1e;
    margin-bottom: 0;
    padding: 2rem;
}

section h2 {
    background-color: rgb(137, 235, 137);
    text-align: center;
    border-radius: 1rem;

}


.card-text {
    color: white;
}

.card-body {
    background-color: #1e1e1e;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.card-body a {
    width: 200px;
}
.btn{
    color: rgb(137, 235, 137);
}

.btn:hover{
    background-color: rgb(137, 235, 137);
}

.contnedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 1rem;
    background-color: #1e1e1e;
    padding-top: 2rem;
    padding-bottom: 2rem;
    column-gap: 1rem;
}


footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(137, 235, 137);
    border-radius: 1rem;
    margin-bottom: 10px;
}

.iconsredes {
    display: flex;
    flex-direction: row;
    width: 300px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 1rem;

}

.titulonews {
    border-radius: 3rem;
    text-align: center;
    border: 1px solid #1e1e1e;
}

.newsi{
    background-color: #1e1e1e;
    color: white;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 2rem;
    border: 1rem solid rgb(168, 243, 218);
}

.newsc{
    background-color: #1e1e1e;
    color: white;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 2rem;
    border: 1rem solid rgb(198, 154, 238);
    
}

.newsf{
    background-color: #1e1e1e;
    color: white;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 2rem;
    border: 1rem solid rgb(137, 235, 137);
}


#productos {
    list-style-type: none;
}

.redes-sociales {
    max-height: 40px;
}


#inteligencia-artificial {
    background-color: rgb(168, 243, 218);
}

#computacion {
    background-color: rgb(198, 154, 238);
}

#videojuegos {
    background-color: rgb(137, 235, 137);
}


.pc {
    background-color: rgb(168, 243, 218);
}

.laptop {
    background-color: rgb(198, 154, 238);
}

.consola {
    background-color: rgb(137, 235, 137);
}

section ul li div h2 {
    font-size: medium;
    color: rgb(137, 235, 137);
}


/*Media queris tablet*/

@media (min-width: 768px) {

    header {
        flex-direction: row;
        justify-content: space-between;
    }

    header nav ul {
        flex-direction: row;
        padding-right: 3rem;
        column-gap: 10px;
        width: 100%;

    }

    .contenedor-imagenes {
        grid-template-columns: repeat(2, 300px);
        grid-template-rows: repeat(2, 400px);
        justify-content: center;
    }

    .contenedor-imagenes {
        grid-template-areas:
            "img1 img2"
            "img3 img3";
    }

}


/*Media queris desktop*/

@media (min-width: 1100px) {


    .contenedor-imagenes {
        grid-template-columns: repeat(3, 400px);
        grid-template-rows: 1fr;
        justify-content: center;
    }

    .contenedor-imagenes {
        grid-template-areas:
            "img1 img2 img3"
            "img1 img2 img3";
    }

}