.main-tutoriales {
    section {
        h1 {
        text-align: center;
        background-color: $color-secundario;
        margin: 1rem;
        display: flex;
        justify-content: center;
        border-radius: 1rem;
        }
    }
}
.footer-tutoriales{
    margin-top: 200px;
}