%estilos-card{
        background-color: $color-principal;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 1rem;
        box-shadow: 15px -12px 103px 34px rgba(17,17,153,0.36);
        -webkit-box-shadow: 15px -12px 103px 34px rgba(17,17,153,0.36);
        -moz-box-shadow: 15px -12px 103px 34px rgba(17,17,153,0.36);
        a {
            width: 200px;
        }
}

%estilos-tituloR{
    background-color: rgb(198, 154, 238);
}
%estilos-tituloVV{
    background-color: rgb(168, 243, 218)
}
