$color-principal: #1e1e1e;
$color-secundario: rgb(137, 235, 137);
$color-texto: rgb(255, 255, 255);
$texto: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
$altura-principal: 3rem;
$altura-secundaria: 2rem;
