header {
    background-color: $color-principal;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    img {
        padding-left: 1rem;
        width: 100px;
    }
    nav {
        
        ul {
            padding-right: 1.5rem;
            list-style-type: none;
            display: flex;
            flex-direction: column;
            
        }
        li {
            .btn {
                color: $color-texto;
                text-decoration: none;
                display:flex;
                justify-content: center;
            }
            &:hover {
                transition: 1.21s;
                color: $color-secundario;
                border-bottom: 1px solid $color-secundario
            }
        }
    }
}